html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

$primaryFont: 'Poiret One', monospace;
$secondaryFont: 'Work Sans', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primaryFont;
}




.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;

    .wrapper {
        display: block;
    }
}

.wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &.column {
        gap: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

._hide {
    display: none;
}

.logo {
    display: inline-block;
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 1.5ch;

    &::after {
        content: '';
        flex: 1;
        height: inherit;
        display: inline-block;
        border: 2.5px solid #000;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-left-radius: 10px;
    }
}

.menu {
    position: absolute;
    right: 0;
    top: 50%;
    width: 2rem;
    display: inline-block;

    ._toggle_label::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: .8rem;
        border: 2px solid #000;
        border-inline-color: transparent;
        cursor: pointer;
    }
}

main {
    padding-inline: 1rem;
}

section {
    max-width: 1600px;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.banner {
    min-height: 100vh;
    max-height: 30rem;
    margin-left: 0;
    display: flex;
}

.intro {
    font-size: clamp(1.5rem, 5vw, 2.5rem);

    &::after {
        content: attr(craft);
        display: block;
        font-size: 0.8em;
        font-weight: 400;
    }
}


.about {
    h2 {
        letter-spacing: 0.1em;
        margin-bottom: 0.2em;
    }

    ._showMore {
        opacity: 0.5;
        cursor: pointer;

        &::after {
            content: '....';
        }
    }

    ._spans {
        display: none;
        opacity: 0.5;
    }

    &:hover {
        span {}
    }

}


.works_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 0.5rem;
}

.work {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    h3 {
        text-transform: capitalize;
        font-size: 2rem;
    }
}