@function toRem($value) {
    $result: ($value/16)+rem;
    @return $result;
}

.contacts {
    &::after {
        content: 'contact';
    }

    text-align: center;
    padding-top: 2.5rem;

    h3 {
        font-size: toRem(22);
    }

    svg {
        width: 0.8em;
    }

    a {
        margin-left: 0.5rem;
        position: absolute;
    }

    @media (min-width:1100px) {

        h3 {
            font-size: clamp(toRem(24), 2vw, toRem(42));
        }
    }
}