@import url('https://fonts.googleapis.com/css2?family=Poiret+One:wght@200;400&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

$primaryFont: 'Poiret One', monospace;
$secondaryFont: Arial, Helvetica;
$accentColor: #3FA34D;

@function toRem($value) {
    $result: ($value/16)+rem;
    @return $result;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primaryFont;
    font-weight: 400;
}

body,
::before,
::after {
    font-family: $secondaryFont;
    font-weight: 400;

}

#__next {
    max-width: 1920px;
    margin-inline: auto;

    &::after {
        content: 'WIP';
        position: fixed;
        z-index: 99;
        border-radius: 0 0 0 50%;
        top: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        padding: 0.5rem;
    }
}


.banner {
    margin-left: 0;
    min-height: 90vh;
    display: flex;
}

.intro {
    font-size: toRem(24);
    font-weight: 400;

    &::after {
        content: attr(attr-craft);
        display: block;
        font-size: toRem(18);
        font-weight: 400;
    }
}

.__hello {
    font-size: toRem(96);
    display: block;
}

.__name {
    display: block;
    margin-top: 20vh;
    font-size: toRem(48);

    .__iam {
        font-size: toRem(18);
        display: block;
    }
}

.aboutPage {

    .__intro {
        font-size: 1.5rem;
        font-weight: 400;
        max-width: 45ch;
        color: #333;
    }

    .__intro_extras {
        line-height: 2.5ch;
    }

    p {
        margin-bottom: 1rem;
        max-width: 65ch;
        font-size: toRem(16);
    }


}

// general 
main {
    padding-inline: 1rem;
}

a {
    text-decoration: none;
    color: $accentColor;
}

section {
    max-width: 1600px;
    margin-inline: auto;
    margin-bottom: 4rem;

    &:not(:first-child) {
        position: relative;
        margin-left: 0;
        margin-top: 8rem;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 6em;
            transform: translateY(-60%);
            font-family: $secondaryFont;
            z-index: -1;
            color: #f1f1f1;
            opacity: 0.3;
            user-select: none;
        }

        @media (prefers-color-scheme: dark) {
            &::after {
                color: gray;
                opacity: 0.1;
            }
        }

    }
}

.wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &.column {
        gap: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

._hide {
    display: none;
}



@media (min-width:960px) {

    .__hello,
    .__name,
    .__name .__iam {
        display: unset;
        font-size: unset;
    }

    .intro {
        font-size: toRem(74);
    }
}